.App {
  text-align: center;
}

div {
  margin: 0;
  padding: 0;
  font-size: 20px;
}
span {
  vertical-align: top;
}
.star {
  display: inline;
}

.track-name {
  color: brown;
}
.title {
  text-align: center;
  font-size: 20px;
  margin: 10px;
}
.List {
  display: inline-block;
  width: 45%;
  text-align: left;
  padding: 10px;
  background: white;
  opacity: 0.9;
  margin: 10px;
}

.Song {
  margin-bottom: 5px;
  padding: 5px;
  background: #aacaff;
  align-items: center;
  display: flex;
}

.Search {
  background: white;
}
