.App {
  text-align: center;
}

div {
  margin: 0;
  padding: 0;
  font-size: 20px;
}
span {
  vertical-align: top;
}
.star {
  display: inline;
  margin-right: 5px;
}
.album-art {
  margin-right: 10px;
  border-radius: 5px;
}
.track-name {
  color: brown;
}
.title {
  text-align: center;
  font-size: 25px;
  margin: 10px;
  font-weight: bold;
}
.track-name {
  font-weight: bold;
  color: black;
}
.List {
  display: inline-block;
  width: 45%;
  text-align: left;
  padding: 10px;
  background: white;
  opacity: 0.9;
  margin: 10px;
}
.link {
  text-decoration: none;
  color: black;
}
.Song {
  margin-bottom: 5px;
  margin-right: 5px;
  padding: 5px;
  background: #aacaff;
  align-items: center;
  display: flex;
}

.Search {
  background: white;
}
